@{
    var modalTitle = "Are you sure you want to approve this?";
}

<div class="modal fade" id="@Model.ModalId" aria-labelledby="@(Model.ModalId + "-label")" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@(Model.ModalId + "-label")">@modalTitle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary js-confirm-approve" asp-action="Approve">
                    Approve
                </a>
            </div>
        </div>
    </div>
</div>
