@model CreateTestBM
@{
    ViewData["Title"] = "Create Test";
}

<h1 class="text-center my-5">Create Test</h1>

<div class="container">
    @*@{
        if (ViewBag.LoginError != null)
        {
            <div class="mb-3">
                <div class="toast align-items-center bg-danger text-white w-100 show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            @ViewBag.LoginError
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        }
    }*@

    <form asp-area="@ApplicationAreas.TEACHER" asp-controller="Test" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        @*@Html.FormGroupFor(model => model.Email)

        @Html.FormGroupFor(model => model.Password)*@

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
</div>
