# hooks
pre-commit.sh ident

# Set the default behavior, in case people don't have core.autocrlf set.
# All files are checked into the repo with CRLF
* eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ttf binary
