@{
    var modalId = Model.Id;
}

<div class="u-z-index-100 modal fade" id="@modalId" tabindex="-1" aria-labelledby="@(modalId)Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@(modalId)Label">Are you sure you want to leave the test?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    If you leave this page, the test will be submit automatically along with your answers.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" asp-action="FinishTest">Submit</button>
            </div>
        </div>
    </div>
</div>