/*
================================================================================

    This file is only for border variables, do NOT write any styles here.

================================================================================
*/

$border-size-100: 1px !default;
$border-size-200: 2px !default;
$border-size-300: 5px !default;
$border-size-400: 10px !default;
$border-size-500: 25px !default;

$border-radius-100: 2px !default;
$border-radius-200: 5px !default;
$border-radius-300: 1rem !default;
$border-radius-400: 2rem !default;
$border-radius-500: 4rem !default;
