/*
================================================================================

    This file is only for color variables, do NOT write any styles here.

    MUST: Use the nameing convention (color-[nameOfTheColor]-100 till
    color-[nameOfTheColor]-900) for color variables.

    IMPORTANT: color-[nameOfTheColor]-500 is the main color, not 400

================================================================================
*/

$color-white-500: #FFFFFF !default;
$color-white--600: #FFFAFA !default;
$color-white--700: #fffff0 !default;

$color-black-300: #0D0D0D !default;
$color-black-400: #080808 !default;
$color-black-500: #000000 !default;

$color-gray-500: #808080 !default;
