/*
================================================================================

    This file is only for font-sizes variables, do NOT write any styles here.

================================================================================
*/

$default-font-size: 16;
$default-font-line-height: 1.5;

$default-text-font-family: "Roboto";
$default-heading-font-family: "Roboto Slab";
$default-icon-font-family: "icomoon";
