/*
================================================================================

    This file is only for opacity variables, do NOT write any styles here.

================================================================================
*/

$opacity-0: 0;
$opacity-100: 0.1;
$opacity-200: 0.2;
$opacity-300: 0.3;
$opacity-400: 0.4;
$opacity-500: 0.5;
$opacity-600: 0.6;
$opacity-700: 0.7;
$opacity-800: 0.8;
$opacity-900: 0.9;
$opacity-1: 1;
