/*
================================================================================

    This file is only for themes set up, do NOT write any styles here.

================================================================================
*/

@use "./_colors.scss" as *;

$themes: (
    light: (
        "background-color": $color-white-500,
        "color": $color-black-500,
    ),
    dark: (
        "background-color": $color-black-500,
        "color": $color-white-500,
    )
);
