<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="~/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon/favicon_32x32.png" sizes="32x32">
    <link rel="icon" href="~/images/favicon/favicon_48x48.png" sizes="48x48">
    <link rel="icon" href="~/images/favicon/favicon_72x72.png" sizes="72x72">
    <link rel="icon" href="~/images/favicon/favicon_96x96.png" sizes="96x96">
    <link rel="icon" href="~/images/favicon/favicon_144x144.png" sizes="144x144">
    <link rel="icon" href="~/images/favicon/favicon_168x168.png" sizes="168x168">
    <link rel="icon" href="~/images/favicon/favicon_192x192.png" sizes="192x192">

    <link rel="apple-touch-icon" href="~/images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="~/images/favicon/favicon_32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/images/favicon/favicon_48x48.png" sizes="48x48">
    <link rel="apple-touch-icon" href="~/images/favicon/favicon_72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="~/images/favicon/favicon_96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="~/images/favicon/favicon_144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="~/images/favicon/favicon_168x168.png" sizes="168x168">
    <link rel="apple-touch-icon" href="~/images/favicon/favicon_192x192.png" sizes="192x192">

    <link rel="stylesheet" asp-href-include="~/css/application-styles*.css" />

    <title>@ViewData["Title"]</title>
</head>
<body class="application">
    <noscript class="application__noscript">
        Sorry, your browser does not support JavaScript!
    </noscript>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="application__header">
    </header>

    <main class="application__main">
        @RenderBody()
    </main>

    <footer class="application__footer">
    </footer>

    <script asp-src-include="~/js/libraries*.js" defer></script>
    <script asp-src-include="~/js/application*.js" defer></script>
</body>
</html>
