<div class="modal fade" id="@Model.Id" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="@(Model.Id)Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@(Model.Id)Label">Leave the test?</h5>
                <button type="button" class="btn-close js-close-leave-test-modal-button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    To leave this page, you need to submit the test first.
                </p>
            </div>
        </div>
    </div>
</div>
