<div class="bg-primary text-white">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-sm-between">
            <p>
                &copy; All rights reserved @DateTime.Now.Year | Powered by: <strong>Gabriel Petkov &amp; Petar Todorov</strong>
            </p>
            <ul class="d-flex flex-row gap-2 navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="maito:support@testplatform.com">Become a teacher</a>
                </li>
            </ul>
        </div>
    </div>
</div>
