@{
    CustomClaimsPrincipal currentUser = new CustomClaimsPrincipal(this.User);
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom border-white">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestPlatform</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                @{
                    if (currentUser.IsInRole(ApplicationRoles.TEACHER))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Test
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="@ApplicationAreas.TEACHER" asp-controller="Test" asp-action="Create">Create</a></li>
                            </ul>
                        </li>
                    }
                }
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                @{
                    if(!this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="@ApplicationAreas.ACCOUNT" asp-controller="User" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="@ApplicationAreas.ACCOUNT" asp-controller="User" asp-action="Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="@ApplicationAreas.ACCOUNT" asp-controller="User" asp-action="Logout">Logout</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
