/*
================================================================================

    This files is for utility rules
    MUST: Every css selector "class" starts with "u-"

================================================================================
*/

@use "../abstracts/__index.scss" as *;

.u-split-background {
    background: linear-gradient(160deg, var(--bs-primary) 25%, var(--bs-light) 100%);
}

.u-letter-spacing {
    letter-spacing: 5px;
}

.u-text-shadow {
    text-shadow: 1px 1px $color-black-500;
}

.u-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
