@{
    ViewData["Title"] = "Something went wrong";
}

<section class="u-absolute-center">
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-center">
            <p class="fs-3">Something went wrong!</p>
            <p class="lead mb-4">
                Please, contact support
            </p>

            <div class="d-flex gap-3 align-items-center justify-content-center flex-wrap">
                <a href="javascript: history.go(-1)" class="btn btn-secondary">Go Back</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</section>

