@{
    ViewData["Title"] = "Not Found";
}

<section class="u-absolute-center">
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-1 mt-0 fw-bold">404</h1>

            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead mb-4">
                The page you’re looking for doesn’t exist.
            </p>

            <div class="d-flex gap-3 align-items-center justify-content-center flex-wrap">
                <a href="javascript: history.go(-1)" class="btn btn-secondary">Go Back</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</section>

